# Java
*.class
*.jar
*.war
*.ear

# Maven
target/

# Gradle
build/
.gradle/

# Spring Boot config
src/main/resources/application.properties
src/main/resources/application.yml

*.log

.DS_Store
Thumbs.db

.idea/
*.iml
.vscode/
.classpath
.project
.settings/

.env

node_modules/
dist/

